
.runcql {
    font-size: 12px;
	margin: 20px;
	color: rgb(57, 25, 199);
	position: fixed;
	top: 0px;
    right: 93px;
    font-weight: bold;
    cursor: pointer;
}

.contenedorcode{
    height: 0px;
    width: 400px;
    position: fixed;
    top: 10px;
    right: 0px;
    border: 0px;
}