.exi {
    font-size: 12px;
	margin: 20px;
	color: rgb(57, 25, 199);
	position: fixed;
	top: 0px;
	right: 0px;
    font-weight: bold;
    cursor: pointer;
}

.bsave{
    font-size: 12px;
	margin: 20px;
	color: rgb(57, 25, 199);
	position: fixed;
	top: 15px;
	right: 0px;
    font-weight: bold;
    cursor: pointer;
}

.babrir{
    font-size: 12px;
	margin: 20px;
	color: rgb(57, 25, 199);
	position: fixed;
	top: 30px;
	right: 0px;
    font-weight: bold;
    cursor: pointer;
}


/* Force scrollbars onto browser window */
body {
margin-bottom: 200%;
}

/* Box styles */
.contenedor-arbol {
border: none;
padding: 5px;
font: 16px/25px sans-serif;
width: 300px;
height: 730px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px olivedrab;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: yellowgreen; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
background: #7bac10;
}

/*Arbol*/

.contenedor-arbol, .contenedor-arbol ul, .contenedor-arbol li {
    position: relative;
}

.contenedor-arbol ul {
    list-style: none;
}

.contenedor-arbol li::before, .contenedor-arbol li::after {
    content: "";
    position: absolute;
    left: -10px;
}

.contenedor-arbol li::before {
    border-top: 2px solid green;
    top: 12px;
    width: 8px;
    height: 0;
}

.contenedor-arbol li::after {
    border-left: 2px solid brown;
    height: 100%;
    width: 0px;
    top: 2px;
}

.contenedor-arbol ul > li:last-child::after {
    height: 12px;
}