.contenedorBlockly{
    height: 500px; 
    width: 600px;
    position: fixed;
    top: 10px;
    right: 350px;
}

.runcql {
    font-size: 12px;
	margin: 20px;
	color: rgb(57, 25, 199);
	position: fixed;
	top: 405px;
    right: 420px;
    font-weight: bold;
    cursor: pointer;
}
.consolatab{
    height:200px;
    width:1198px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;overflow:auto;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 0px;
}